html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.color-white {
    color: white;
}

.color-light-blue {
    color: #71AAD5;
}

canvas {
    position: absolute;
}
